@charset "UTF-8";

body{
    background-color: rgb(70, 142 ,236);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
header{
    color: #fff;
}
section{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 1px #000;
}
footer{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}